/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
 */
@import 'compass/css3';
@import '_variables';
@import '_mixins';
@import 'pure'; 


/*

layout & override grids

*/
.claer{
    clear:both;
}
.pull-right{
    text-align: right;
    float: right;
}
.pull-left{

    float: left;
}
body,html{
	width:100%;
	height:100%;
    position: relative;
	overflow-x:hidden;
	overflow-y:auto;
    background:$color-set-gray-darkest;
}
.main{
	width:100%;
	height:100%;
	overflow-x:hidden;
	overflow-y:auto;
    margin: 0;
    padding: 0;
}

.content-main, .cotent-bottom,.content-extra {
    //@include transition(all);
    padding:0;
	margin: auto;
	width:80%;
    @media (min-width:$xl-break){
        
        max-width:980px;
		
    } 

}
.content-header{
    .content-attr{
        li{
            white-space:pre-line;
        }
    }

    &:first-child{
    margin-top:$site-top-height;
    }
    margin-bottom: 36px;
    
    >.headline-img-wrap{
	   height:240px;
	}
		
    &:after{
        content:"";
        clear: right;
        display: block;
    }
}

.extra {

	@media (min-width:$xl-break){
		padding:0;
		float: right;
		margin-top:$site-top-height;
	}
	
	
	@media (max-width:$xl-break-floor){
		width:100%;
	}
}
//util

.row{

width: 100% !important;
clear: both;
    
}

//panel left
.main{
        position: absolute;
        width: 100%;
		left:0;
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease ;
		
		>.headline-img-wrap{
			height:50%;
		}
	 }		
.col-0{
		position:fixed !important;
		top:0;
        padding-top:$site-top-height;
		position:absolute;
        width:$site-menu-width;
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        ul{
            li{
            text-shadow: 1px 1px 0 #000;
            }
        }
			.site-menu{
            margin:$default-font-size*2 0;
            a{
             color: #fff;
            }
        }
        .list-titled{
            
            width: 50%;
            float: left;
            @extend .list-inline;
            
            
            li{
                margin: 5px;
                &:first-child{
                    display: block;
                    clear:both;
                    float: none;
                    font-size: $default-font-size*1.2;
                }
            }      
          }
    
        .list-centered{
             @extend .list-unstyled;
             text-align: center;

            .img-circle{
                margin: auto;
                width: 160px;
                height: 160px;
            }
            li{
                margin: 5px;
            }
         }
        
    p{clear:both;}
        
		}	
.menuBtn{
		position:fixed;
		top:0;
		left:10%;
		z-index:2;
		-webkit-transition: all 0.5s ease;
		transition: all 0.5s ease ;
        display:block;
        width:64px;
        height:64px;
        font-size: 50px;
        border:1px solid #000;
        background:#000;
        color:#fff;
        text-align: left;
        padding-left: $default-font-size*0.5;
        @include common-box-shadow();
        @media (max-width:1700px){
            left:0;
        }
    span{
        @include menu-font();
        opacity:0;
        position: absolute;
        width:100%;
        left:0;
        top:0;
        text-align: left;
        -webkit-transition: all 0.5s ease;
		transition: all 0.5s ease ;
    }
    &:hover{
        border:1px solid $color-set-orange;
        background:$color-set-orange;
    }
}	
.main.slided{
		left:$site-menu-width;
        @include common-box-shadow();
		}
.pulled{
		left:0;
		}	
.menuBtn.pulled{
    width:$site-menu-width;
    text-align: right;
    span{
    opacity:1;
    }
     }    



// extra right
.extra {
    .h2{
        &:first-child{
            margin-top:0;
        }    

    }
    
    .extra-wrap{
        -webkit-box-sizing:border-box;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        @include transition(all, 0.25s);
        height:$extra-wrap-height;
        width:25%;
        overflow: hidden;
        
        border:0px solid #d9d8d8;
        @media (min-width:$xl-break){
			float:right;
			clear:right;
            &:hover{
                width:100%;
            }
        }
        @media (max-width:$xl-break-floor){
			float:left;
            &:hover{
            border-top:5px solid #d9d8d8;
            border-left:5px solid #d9d8d8;
            }
        }
        .fa{
           
            padding: $extra-wrap-padding;
            display:block;
            height: 100%;
            width:100%;
            color:#fff;
            text-align: left;
            
            &:before{
            font-size:$extra-warp-fa-size;
            }
            @include transition(all);
        }
         
    }
 
}



//bottoms

.cotent-bottom{
    ul{
        width:100%
    }
}
//site- bottom
.site-bottom{  
    
&:before{
        clear:both;
        content:"";
        display: block;
        width:$site-bar-length;
        margin-top:$default-font-size;
        border-bottom:  ($default-font-size) solid $color-set-gray;
    }
    p{
        padding:$default-font-size*2 0;
    
    }
    
}


/*

large color & theme

*/
.main{
    
    color: $color-set-gray-dark;
    background: rgba(255,255,255,1);
    background: -webkit-linear-gradient(top, rgb(255, 255, 255) 0%,rgba(204,204,204,1) 100%);
    background: -o-linear-gradient(top, rgba(255, 255, 255,1) 0%,rgba(204,204,204,1) 100%);
    background: -ms-linear-gradient(top, rgba(255, 255, 255,1) 0%,rgba(204,204,204,1) 100%);
    background: linear-gradient(to bottom, rgba(255, 255, 255,1) 0%,rgba(204,204,204,1) 100%);
    background-attachment: fixed;
}



/*

Typo & style

*/

//base
body,
.pure-g-r [class *= "pure-u"] {
  @include main-font();
  font-size: $default-font-size;
}


// links

a{
    font-size: inherit;
    font-weight: inherit;
    
    text-decoration: none;
    border-bottom: 1px dashed $color-set-gray-light;
    color: $color-set-orange;
    @include transition(color);
    @include transition(border);
	
    &:hover, &:focus, &:visited{
        color: darken($color-set-orange,10%);
    }
    &:hover{
        border-bottom-color: $color-set-orange;
    }
} 

//headlines
h1,h2,h3,h4,h5,h6{
    font-weight: inherit;
}
.h1{
	@include menu-font();
    font-size:($default-font-size*3);
    border-left:0 solid transparent;
    text-transform:capitalize;
    @include transition(all);
    &:after{
        content:"";
        display: block;
        width:$site-bar-length;
        margin-top:$default-font-size;
        border-bottom:  ($default-font-size) solid $color-set-green;
    }
    
    
    a{
        color: inherit;
        border: none;
    }
}

.h2{
                @include menu-font();               
                font-size:$default-font-size*1.75;
                color:$color-set-gray;
                border-bottom: 1px dashed $color-set-gray;
                margin: $default-font-size 0;

    }

.col-0 *{
    color:#fff;
}

.site-menu{
    @include menu-font();
    font-size: $default-font-size*2;

}


// paragraph

.content-body{
    
    p{  
    line-height: 175%;
     text-indent: $default-font-size*4;
    
        &:first-letter{
      font-size:($default-font-size*2);
        }
        
    }
}



//code & pre


code, pre{
 background: $code-background;
    color:#fff;
    padding: 2px;
    border-radius: 5px;
}

pre
{
    border-left: ($default-font-size) solid $color-set-green;

}

//lists
.list-unstyled{
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-inline{
    @extend .list-unstyled;
    li{
        display:inline
    }
}

.site-menu{
    width:100%;
     @extend .list-unstyled;
    li{ 
        a
        {
            display: block;
            width: 100%;
            border:none;
            &:hover, &:focus{
                color:#fff;
                border-left:$default-font-size*4 solid $color-set-green;
            }
        }
    }
}


/*
	images

*/

.img-circle{
    border-radius: 50%;
    display: block;
    overflow: hidden;
}

.content-body{ 
	img{
	max-width:100%;
	height:auto;
	border: 8px solid #fff;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	@include common-box-shadow();
	@include transition(all, 0.25s);
	&:hover{
		border: 0px solid #fff;
	}
	}
}

/*headline image*/
.headline-img-wrap{
        width: 100%;
        position: relative;
        overflow: hidden;
        //border-radius: 5px;
        @include common-box-shadow;
        
         .headline-img{  
        position: absolute;
        height: auto;  
        width: 100%;
        @include transition(all);

		}
    }


/*

Theme

*/
//fa merge
.fa{
    &:before {
    padding-right: $default-font-size*0.5;
    }
}
    
.content-attr {  
        @extend .list-inline;
        
        li{
        margin: $default-font-size;
        font-size: $default-font-size*1.1;
		font-weight:100;
        }
        margin: $default-font-size 0;
    }

 .fa-facebook{
            background:#3B5999;
        }
.fa-twitter{
            background:#4099ff;
        }
.fa-google-plus{
            background:#D34836;
        }
.fa-envelope{
            background:$color-set-green;
        }

/*

item boxes view

*/
.item-box{
    position: relative;        
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    padding: 10px;
    float: left;
    height: 216px;
    @include transform3d(scale(1));
	@include transition(all, 0.25s);
    @media (max-width:779px) {
        width:100% !important;

    }
    
    @media (min-width:780px) and (max-width: $xl-break-floor){
        width:50% !important;

    }
    @media(min-width : $xl-break){
        
    }
    &:hover{
     @include transform3d(scale(1.03));
	 
    }
    .box-wrap{
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        overflow: hidden;
		background-color:$color-set-gray-lightest;
        background-image: url('http://static.treyh.info/logo.png');
		background-position:center 10px;
		background-repeat:no-repeat;
		
        &:hover{ 

            .box-text{
                 display: block;
                top: 0px;
                bottom: 0px;
                left: 0px;
                right: 0px;
                 font-size: $default-font-size*1.5;
                text-shadow:  2px 2px rgba(0,0,0,0.5);

            }
        }
        
        
         .box-img{
        width:100%;
        height:auto;  

        }
        .box-text{
            position:absolute;
            bottom: 10px;
			left:10px;
			right:10px;
            background: rgba($color-set-gray-dark, 0.8);
            color: #fff;
            padding: 3px;
            @include transition("background", 0.25s);
            @include common-box-shadow();
            font-size: inherit;
			padding: $default-font-size;
			padding-top:$default-font-size/2;
			font-weight: bold !important;
			
			small{
				display:block;
				font-weight: normal;
			}
        }
    
    }
    
   
}

.g-box-normal{
    @extend .item-box;
    width:25%;
	&:hover{          
        .box-text{
			background: rgba($color-set-orange, 0.8);
			
		}
	}	

}

.g-box-double{
     width:50%;
    @extend .item-box;
    .box-wrap{
        .box-text{
            background: rgba(darken($color-set-green,7.5%), 0.8);         
        }
    }
	&:hover{          
        .box-text{
			background: rgba($color-set-green, 0.8);
		}
	}		
}
.grid-main{
    margin: 72px 10% 0 10%;
}

/*fancy*/
